#slider-home .thumb img{
	width: 100% ;
	height: 422px ;
}
#slider-home .thumb{
	position: relative;
	border-bottom: 4px solid #dbdbdb ;
	display: block;
}
#slider-home .thumb:after{
	content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 0px;
    bottom: -14px;
    margin: auto;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #dbdbdb ;
}
#slider-home .caption{
    padding: 33px 0;
}
#slider-home .caption .title{
    font-size: 24px;
    color: #1c1c1c;
}
#slider-home .caption .describe{
    font-size: 14px;
    line-height: 24px;
    color: #5a5a5a;
}
#post-featured{
	background-color: #f7f8fa ;
	padding: 71px 0 ;
	border-top: dashed 1px #dedede;
}
#post-featured .list-item .item{
	float: left;
    width: 260px ;
    height: 260px;
    border-radius: 50%;
    position: relative;
    margin-left: 52px;
    background: #fff;
}
#post-featured .item .thumb{
	width: 64px;
    display: block;
    position: absolute;
    height: 64px;
    left: 0;
    right: 0;
    margin: auto;
    top: -32px;
}
#post-featured .item .thumb>img{
	border-radius: 50% ;
}
#post-featured .item .content{
	position: absolute;
    top: 36px;
    text-align: center;
    padding: 0 30px;
    font-size: 14px;
}
#post-featured .item .content>.title{
	font-size: 18px;
    color: #000;
    padding: 22px;
}
#post-featured .item .content>.read-more{
	padding: 2px 16px;
    background: #3bbdfb;
    color: #fff;
    margin-top: 28px;
    display: inline-block;
}
#post-featured .item .content>.read-more:after{
	font-family: Fontawesome ;
    content: '\f101';
    padding-left: 4px ;
}
#post-featured .item:nth-child(1){
	margin-left: 0 ;
}
#content .widget{
    border-top: #e6e6e6 solid 1px;
    padding-bottom: 80px;
}
#content .widget .head>.title{
    display: inline-block;
    font-size: 30px;
    padding: 51px 70px 38px;
    line-height: initial;
    border-bottom: dashed 1px #bebebe;
}
#content .widget .body>.info{
	text-align: center;
    color: #9b9b9b;
    font-size: 14px;
    padding: 36px 0;
}
#content .widget .body>.info>a{
	color: #3bbdfb;
}
#content #update-new {
	background-color: #fafafa ;
}
#update-new .list-item .item{
	margin: 0 11px;
    float: left;
    position: relative;
    width: 278px;
    border-bottom: 1px solid #d5d5d5;
}
#update-new .item>.thumb>.cusor{
    width: 100px;
    height: 100px;
    background: #b7b7b770;
    display: block;
    position: absolute;
    border: 1px solid;
}
#update-new .item>.thumb>img.zoom{
    position: absolute;
}
#update-new .list-item .item>.thumb{
	height: 200px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: none; 
}
#update-new .list-item .item>.content{
	padding: 0 18px;
}
#update-new .list-item .item>.img-zoom{
    position: absolute;
    overflow: hidden;
    z-index: 999;
    width: 300px;
    height: 300px;
    top: -40px;
    right: -120%;
    border: solid;
    display: none;
}
#update-new .list-item .item>.img-zoom>div{
    position: relative; 
}
#update-new .list-item .item>.img-zoom img{
    position: absolute; 
    max-width: unset;
}
#update-new  .item .title{
	font-size: 15px;
    color: #000;
    padding: 14px 0;
    border-bottom: dashed 1px #bebebe;
    position: relative;
}
#update-new .list-item{
    display: flex;
}
#update-new .item .title:before{
	position: absolute;
    font-family: Fontawesome;
    content: '\f111';
    bottom: -12px;
    left: 0px;
    color: #3bbdfb;
    font-size: 9px;
}
#update-new .item .excerpt{
	color: #252525;
    padding: 17px 0px;
    font-size: 14px ;
}
#content #about .left{
	width: 590px;
}
#content #about .right{
	width: 610px;
	padding-left: 36px;
}
#content #about .right>.list-item{
	margin-top: 35px ;
}
#content #about .right>.list-item>.item{
    margin-bottom: 5px;
}
#content #about .right>.list-item>.item>.title{
    font-size: 17px;
    background: #ffffff;
    color: #1e1e20;
    font-weight: 500;
    border: solid 1px #eee;
    position: relative;
}
#content #about .right>.list-item>.item.active .content{
    display: block;
}

#content #about .right>.list-item>.item .content {
    padding: 15px;
    font-size: 14px;
    color: #1e1e20;
    background: #fff;
    text-indent: 40px;
    display: none;
}
#content #about .head>.title{
	padding-left: 8px;
    padding-right: 0;
    position: relative;
    margin-bottom: 7px;
}
#content #about .right>.list-item>.item.active>.title>i:before{
    content: '\f2d1' ;
}
#content #about .right>.list-item>.item>.title>i{
    cursor: pointer;
    padding: 14px;
    border-right: solid 1px #eee;
    font-size: 18px;
    margin-right: 10px;
}
#content #about {
	background: #f7f8fa;
}
#content #about .head>.title:after{
    position: absolute;
    font-family: Fontawesome;
    content: '\f111';
    bottom: -6px;
    left: 0px;
    color: #ddd;
    font-size: 12px;
}
#content #about .left>.list-item>.item{
	margin-top: 35px ;
}
#content #about .left>.list-item>.item:after{
	content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#content #about .left>.list-item>.item>.avatar{
	float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#content #about .left>.list-item>.item>.wp-content{
	float: left;
    width: 420px;
    margin-right: 48px;
    padding-bottom: 35px;
    margin-left: 22px;
    border-bottom: dashed 1px #bebebe;
    position: relative;
}
#content #about .left>.list-item>.item:last-child .wp-content{
	border: unset;
}
#content #about .left>.list-item>.item:last-child .wp-content:after{
	content: '';
}
#content #about .left>.list-item>.item>.wp-content:after{
	position: absolute;
    font-family: Fontawesome;
    content: '\f111';
    bottom: -12px;
    left: 0px;
    color: #3bbdfb;
    font-size: 9px;
}
#content #about .left>.list-item>.item .content{
	color: #1e1e20;
    font-size: 14px;
    line-height: 22px;
    font-style: italic;
}
#content #about .left>.list-item>.item .content:before,
#content #about .left>.list-item>.item .content:after{
	content: '"' ;
}
#content #about .left>.list-item>.item .author{
	font-size: 14px;
    font-weight: 500;
    color: #000;
    padding-left: 16px;
    margin: 15px 0;
}
#content #new-post{
	background: #fafafa;
}
#content #new-post .head>.title{
	position: relative;
}
#content #new-post .head>.title:after,
#content #new-post .head>.title:before{
    position: absolute;
    font-family: Fontawesome;
    content: '\f111';
    bottom: -6px;
    left: 0px;
    color: #ddd;
    font-size: 12px;
}
#content #new-post .head>.title:after{
	right: 0;
    left: unset;
}
#content #new-post .list-item>.item>.thumb{
	display: inline-block;
    width: 170px;
    height: 122px;
    float: left;
    position: relative;
}

#content #new-post .list-item>.item .date{
	width: 100%;
    height: 100%;
    border: 10px solid rgba(255, 255, 255, 0.66);
    position: absolute;
    left: 0;
    display: block;
    top: 0 ;
}

#content #new-post .list-item>.item .date>span{
    display: block;
    padding: 8px 0 8px 25px;
    line-height: 18px;
    color: #fff;
    position: relative;
    background: rgba(76, 188, 239, 0.6901960784313725);
}
#content #new-post .list-item>.item .date>span:before{
    position: absolute;
    content: '\f073';
    font-family: 'FontAwesome';
    top: 6px;
    left: 6px;
}
#content #new-post .list-item>.item{
	display: inline-block;
	margin-right: 30px ;
	width: 368px ;
	margin-left: 10px ;
}
#content #new-post .list-item>.item:last-child{
	margin-right: 0 ;
}
#content #new-post .list-item>.item>.content{
	width: 198px;
    float: right;
    padding-left: 15px;
}
#content #new-post .list-item>.item> .content>.title{
	color: #1e1e20;
    font-size: 16px;
    line-height: 35px;
}
#content #new-post .tag>li{
    display: inline-block;
    font-size: 14px;
    color: #3bbdfb;
}
#content #new-post .tag>li:after{
	content: ', ' ;
}
#content #new-post .tag>li:last-child:after{
	content: '' ;
}
#content #new-post .tag>li:nth-child(1){
	padding-left: 20px ;
	position: relative;
}
#content #new-post .tag>li:nth-child(1):before{
	position: absolute;
    font-family: Fontawesome;
    content: '\f02b';
    left: 0px;
    color: #666464;
    font-size: 12px;
}
#content #new-post .list-item>.item .excerpt{
	color: #1e1e20;
    line-height: 22px;
    font-size: 14px;
}
#content #sponsors{
	padding: 76px 0 80px;
    background: #f7f8fa;
}
#sponsors .list-item .item{
	width: 226px;
    height: 132px; 
    padding: 0 7px;
    float: left ;
}
#sponsors .list-item .item>.thumb>img{
    border-bottom: 3px solid #e0dada;
}
#sponsors .list-item{
	margin-bottom: 16px;
}
#sponsors .list-item .thumb{
    display: inline-block;
}
.navigation{
	display: inline-block;
}
.navigation>li{
	float: left ;
}
.navigation>li>span{
    margin: 0 1px;
    padding: 0 9px;
    line-height: 22px;
    display: inline-block;
    background-color: #cdcdcd;
    border-radius: 5px;
    color: #fff ;
    cursor: pointer;
}
.navigation>li>span.back:before{
	content: "\f104" ;
	font-family: Fontawesome ;
}
.navigation>li>span.next:before{
	content: "\f105" ;
	font-family: Fontawesome ;
}

.sign{
    border: 1px solid red;
}